@charset "UTF-8";
body {
  max-width: 1440px;
  margin: 0 auto;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style: none;
}

h1 {
  text-align: center;
  font-family: "Shrikhand", cursive;
  margin: 0px;
  font-size: 30px;
  font-weight: 400;
}

.footer {
  background: var(--Grey, #353535);
  padding: 22px 25px;
  color: white;
}
@media screen and (min-width: 1024px) {
  .footer {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    gap: 100px;
  }
}
.footer .footer__title {
  font-family: shrikhand;
  font-size: 18px;
  font-weight: 400;
  margin: 0px;
}
@media screen and (min-width: 1024px) {
  .footer .footer__title {
    padding-right: 50px;
  }
}
.footer .footer__list {
  padding: 0px;
  font-weight: 500;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  .footer .footer__list {
    flex-direction: row;
    gap: 45px;
  }
}
.footer .footer__list .footer__list--weight {
  font-weight: 400;
}
.footer .footer__desktop {
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media screen and (min-width: 1024px) {
  .footer .footer__desktop {
    flex-direction: row;
    display: flex;
    gap: 20px;
  }
}
.footer .fa-utensils {
  padding-right: 11px;
}
.footer .fa-handshake {
  padding-right: 11px;
}

footer a {
  color: white;
  margin-bottom: 7px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.navbar .navbar__back {
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .navbar .navbar__back {
    height: 96px;
  }
}
.navbar .navbar__arrow {
  padding-left: 17px;
  font-size: 20px;
}
.navbar .navbar__logo {
  width: 197px;
}
.navbar .navbar__title {
  flex-basis: 90%;
  text-align: center;
  font-size: 30px;
  padding: 10px 63px 9px 0px;
}
@media screen and (min-width: 1024px) {
  .navbar .navbar__title {
    padding: 26px 63px 26px 0px;
  }
}

.img-menu {
  width: 100%;
  height: 275px;
  object-fit: cover;
}

.text-content {
  text-align: center;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
}
.text-content .text-content__title {
  font-size: 24px;
  font-weight: 700;
  height: 68px;
  margin: 0px 58px 0px 42px;
  padding-top: 39px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
@media screen and (min-width: 1024px) {
  .text-content .text-content__title {
    font-size: 40px;
  }
}
.text-content .text-content__subtitle {
  font-size: 18px;
  font-weight: 300;
  margin: 0px 26px 40px 34px;
  color: var(--Grey, #353535);
}

.form-navbar {
  display: flex;
  width: 100%;
  height: 50px;
  justify-content: center;
  align-items: center;
  gap: 17px;
  background: var(--Grey-2, #EAEAEA);
}
.form-navbar .form-navbar__style {
  border: none;
  background: var(--Grey-2, #EAEAEA);
  font-size: 16px;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--Grey, #353535);
  width: 126px;
}

.loader {
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  gap: 3px;
  overflow: hidden;
  font-family: shrikhand;
  background: linear-gradient(#9356DC, #FF79DA);
  font-weight: 700;
  position: fixed;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms 3s forwards;
  transform-origin: top;
}

.letter {
  display: inline-block;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 0.8s forwards;
}

.letter:nth-child(1) {
  animation-delay: 0.4s;
}

.letter:nth-child(2) {
  animation-delay: 0.6s;
}

.letter:nth-child(3) {
  animation-delay: 0.8s;
}

.letter:nth-child(4) {
  animation-delay: 1s;
}

.letter:nth-child(5) {
  animation-delay: 1.2s;
}

.letter:nth-child(6) {
  animation-delay: 1.4s;
}

.letter:nth-child(7) {
  animation-delay: 1.6s;
}

.letter:nth-child(8) {
  animation-delay: 1.8s;
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
.restaurants {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  padding: 30px 18px 40px 18px;
}
@media screen and (min-width: 1024px) {
  .restaurants {
    padding-left: 180px;
    padding-right: 180px;
  }
}
.restaurants .restaurants__title {
  font-size: 24px;
  font-weight: 700;
}
.restaurants .restaurants__card {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
  height: 16em;
  margin-bottom: 18px;
  position: relative;
}
@media screen and (min-width: 1024px) {
  .restaurants .restaurants__card {
    margin: 0px;
  }
}
.restaurants .restaurants__img {
  width: 100%;
  height: 100%;
  max-height: 11em;
  object-fit: cover;
  display: flex;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.restaurants .restaurants__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurants .restaurants__text {
  padding-left: 13px;
  padding-bottom: 12px;
  padding-top: 10px;
  color: black;
}
.restaurants .restaurants__subtitle {
  font-size: 18px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 0px;
}
.restaurants .restaurants__paragraphe {
  font-size: 17px;
  font-weight: 300;
  margin: 0px;
}
.restaurants .restaurants__heart {
  padding-right: 50px;
  padding-bottom: 28px;
}

.new {
  border-radius: 2px;
  background: #99E2D0;
  color: #008766;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 12px;
  top: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding: 6px 9px;
}

.restaurants-container {
  box-sizing: border-box;
}
@media screen and (min-width: 1024px) {
  .restaurants-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px 100px;
  }
}

.fonctionnement {
  padding: 48px 20px 68px 20px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement {
    padding: 50px 180px;
  }
}
.fonctionnement .fonctionnement__title {
  font-size: 24px;
  font-weight: 700 !important;
}
.fonctionnement .fonctionnement__content {
  flex-direction: column;
  display: flex;
  margin-left: 12px;
  gap: 25px;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement__content {
    flex-direction: row;
    justify-content: space-between;
  }
}
.fonctionnement .fonctionnement__button {
  border-radius: 20px;
  background: var(--Background, #F6F6F6);
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  height: 72px;
  cursor: pointer;
}
@media screen and (min-width: 1024px) {
  .fonctionnement .fonctionnement__button {
    flex-basis: 30%;
  }
}
.fonctionnement .fonctionnement__number {
  position: relative;
  display: flex;
  right: 19px;
  top: 25px;
  width: 24px;
  height: 24px;
  font-size: 14px;
  font-weight: 500;
  border-radius: 50%;
  background-color: #9356DC;
  justify-content: center;
  align-items: center;
  color: white;
}
.fonctionnement .fonctionnement__button--style {
  font-size: 16px;
  font-weight: 500;
  gap: 27px;
  display: flex;
  padding-left: 22px;
  padding-bottom: 28px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  align-items: center;
}
.fonctionnement .icon {
  color: #7E7E7E;
}
.fonctionnement .icon:hover {
  color: #9356DC;
}

.button {
  display: flex;
  justify-content: center;
  padding-bottom: 57px;
}
.button .button__content {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 218px;
  height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button .button__menu {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 25px;
  width: 186px;
  height: 50px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}
.button .button__text {
  font-size: 16px;
  font-weight: 500;
  color: white;
  margin: 13px 18.75px 13px 18.75px;
}
.button .button__content:hover {
  background: linear-gradient(#FFA3E8, #B088F9);
}
.button .button__menu:hover {
  background: linear-gradient(#FFA3E8, #B088F9);
}

.container {
  background-color: #F6F6F6;
  border-top-right-radius: 40px;
  border-top-left-radius: 40px;
  position: relative;
  margin-top: -2em;
}
@media screen and (min-width: 1024px) {
  .container {
    margin-left: 192px;
    margin-right: 192px;
  }
}
.container .container__banner {
  font-family: shrikhand;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-left: 17px;
}
@media screen and (min-width: 1024px) {
  .container .container__banner {
    justify-content: center;
  }
}
.container .container__title {
  font-size: 28px;
  font-weight: 400;
  margin: 0px;
}
.container .container__title i {
  right: 20px;
  margin-top: 8px;
}
@media screen and (min-width: 1024px) {
  .container .container__title i {
    right: auto;
    padding-left: 1em;
  }
}

.position-heart {
  position: absolute;
  padding-left: 30px;
  padding-top: 8px;
}

.menu {
  margin: 10px;
  display: flex;
  flex-direction: column;
  /* affichage div par div*/
}
@media screen and (min-width: 1024px) {
  .menu {
    margin-left: 20%;
    margin-right: 20%;
  }
}
.menu .menu__title {
  font-size: 16px;
  font-weight: 300;
  width: 35px;
  border-bottom: 2px solid #99E2D0;
  margin-bottom: 12px;
}
.menu .menu__block {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 40px;
  opacity: 0;
}
.menu .menu__block.show {
  animation: fadeIn 600ms forwards;
}
@keyframes fadeIn {
  /*defini état final de l'animation*/
  to {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  /* animation pour une transition progressive en fondu*/
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu .menu__block.show:nth-child(1) {
  /*cible le premier enfant*/
  animation-delay: 0.5s;
}
.menu .menu__block.show:nth-child(2) {
  /*cible le deuxieme enfant*/
  animation-delay: 1s;
}
.menu .menu__block.show:nth-child(3) {
  /*cible le troiseme enfant*/
  animation-delay: 1.5s;
}

.choice {
  background-color: white;
  border-radius: 15px;
  border: none;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 0px;
}
.choice .choice__text {
  display: flex;
  flex-direction: column;
  text-align: left;
  flex: 1;
  padding-left: 15px;
  white-space: nowrap; /*empeche le texte de passer a la ligne suivante*/
  text-overflow: ellipsis; /* affiche ... quand le texte est trop long*/
  overflow: hidden; /* masquer contenu qui depasse de la boite*/
}
.choice .choice__text--title {
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
  padding-top: 15px;
  white-space: nowrap; /*empeche le texte de passer a la ligne suivante*/
  text-overflow: ellipsis; /* affiche ... quand le texte est trop long*/
  overflow: hidden; /* masquer contenu qui depasse de la boite*/
}
.choice .choice__text--subtitle {
  font-size: 15px;
  font-weight: 300;
  margin: 0px;
  padding-bottom: 15px;
  white-space: nowrap; /*empeche le texte de passer a la ligne suivante*/
  text-overflow: ellipsis; /* affiche ... quand le texte est trop long*/
  overflow: hidden; /* masquer contenu qui depasse de la boite*/
}
.choice .choice__price {
  width: 55px;
  height: 100%;
  padding-top: 40px;
}
.choice .choice__price span {
  font-size: 15px;
  font-weight: 700;
}
.choice .choice__check {
  background: #99E2D0;
  width: 59px;
  height: 75px;
  margin-right: -73px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.3s;
  cursor: pointer;
}
.choice:hover > .choice__check {
  margin: 0;
  transition: all 0.8s;
}

.fa-check {
  border-radius: 100%;
  color: #99E2D0;
  background: white;
  font-size: 15px;
  padding: 2px;
}

.fa-check {
  transition: transform 1.5s;
}

.choice:hover > div > .fa-check {
  transform: rotate(360deg);
}

.shadow {
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
}

.fa-heart {
  position: absolute;
  font-size: 22px;
  cursor: pointer;
}

.my-heart-full {
  opacity: 0;
  transform-origin: bottom;
  transition: opacity 1s ease-in-out;
  background-image: linear-gradient(#9356DC, #FF79DA);
  -webkit-text-fill-color: transparent; /* permet de rendre visible le dégradé lineaire a travers le texte*/
  background-clip: text; /* defini arriere plan uniquement au contenu textuel*/
  -webkit-background-clip: text; /* indique que le fond doit etre restreint a la zone de text*/
}

.my-heart-full:hover {
  opacity: 1;
  background-image: linear-gradient(#9356DC, #FF79DA);
  transition: opacity 1s ease-in-out;
}

/*# sourceMappingURL=main.css.map */
